* {
margin: 0;
padding: 0;
border: 0;
line-height: 1.4em;
vertical-align: baseline;
text-decoration: none;
}
body {
    background-color: tan;
}
#carousel {
    height: 300px;
    width: 400px;
    margin: 0 auto;
    border: 3px solid black;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}
ul {
    width: 2000px;
}
ul li {
    list-style-type: none;
    float: left;
    width: 400px;
    height: 300px;
}


